html{
    font-family: Helvetica, sans-serif;
    margin: 48px 42px;
}

li a{
    color: green;
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
}

header *{
    display: inline-block;
}

h1{
    margin-right: 80px; 
}

p{
    padding-bottom: 10px;
}

hr{
    border: 1px solid;
}