html{
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

h2{
    font-family: Georgia, serif;
    line-height: 1.2;
    font-weight: lighter;
    width: 50%;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 70vw;
    margin: 120px 280px;
    align-items: center;
}

p{
    width: 72%;
}
